body {
    font-family: Segoe Print;
    background: linear-gradient(135deg, #007539, #004220);
    color: #f0f0f5;
    margin: 25px;
}

h1 {
    color: #2a52be;
    font-weight: 700;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: #2a52be;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #174ea6;
    outline: none;
}

img {
    max-width: 300px;
    border-radius: 8px;
    margin-top: 15px;
    display: block;
}
